@import "./blue.scss";
@import "~bootstrap-scss/bootstrap.scss";

$fa-font-path: "~font-awesome-scss/fonts";
@import "font-awesome-scss/scss/font-awesome.scss";

@mixin border-radius($radius) {
    // from font-awesome 3.0
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// toolform
div.toolForm {
    border: solid $form-border 1px;
    @include border-radius($border-radius-base);
}

.toolForm.toolFormInCanvas {
    @extend .card;
    z-index: 100;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    min-width: 13em;
    position: absolute;
    border-width: medium;
    border-color: $brand-primary;
    &.toolForm-active {
        z-index: 1001;
        box-shadow: 0 0 0 2px $brand-primary;
    }
    .toolFormTitle {
        @extend .card-header;
        @extend .py-1;
        @extend .px-2;
        cursor: move;
        background: $brand-secondary;
        &_argument{
            background: #fe7f02
        }
    }
    .toolFormBody {
        @extend .card-body;
        @extend .p-0;
        @extend .mx-2;
        .rule {
            height: 0;
            border: none;
            border-bottom: dotted black 1px;
            margin: 0 5px;
        }
    }
}

// disabled
div.toolFormDisabled div.toolFormTitle {
    background: #f5f5f5;
    border-color: $border-default-color;
}

div.toolFormDisabled {
    border-color: $border-default-color;
}

// form
div.form,
div.toolForm {
    border: solid $form-border 1px;
    @include border-radius($border-radius-base);
}

div.form-title,
div.toolFormTitle {
    // font-size: $font-size-base * 1.25;
    // line-height: $line-height-base * 1.5;
    padding: 5px 10px;
    background: $form-heading-bg;
    border-bottom: solid $form-border 1px;
    word-wrap: break-word;
}

div.form-body {
    padding: 5px 0;
}

div.form-row {
    position: relative;
    padding: 5px 10px;
    .outport-label{
        width: 100%;
        text-align: right;
    }
}

div.form-title-row {
    padding: 5px 10px;
}

div.repeat-group-item {
    border-left: solid $form-border 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.form-row-error {
    background: $state-danger-bg;
}

div.form-row label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.2em;
}

div.form-row label.inline {
    display: inline;
}

div.form-row-input {
    width: 90%;
    float: left;
}

div.form-row-input label {
    font-weight: normal;
    display: inline;
}

.form-row.form-actions {
    background: whiteSmoke;
    border-top: solid #ddd 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

// select
@mixin user-select($select) {
    -webkit-touch-callout: #{$select};
    @each $pre in -webkit-, -moz-, -ms-, -o-, -khtml- {
        #{$pre + user-select}: #{$select};
    }
    #{user-select}: #{$select};
}
.unselectable {
    @include user-select(none);
}

// > label for input and output position
.base-terminal {
    @extend .fa;
    @extend .fa-circle;
    @extend .mt-1;
    color: $white;
    position: absolute;
    z-index: 1500;
    > icon {
        @extend .fa;
        @extend .fa-chevron-circle-right;
        color: $brand-primary;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
.input-terminal {
    @extend .base-terminal;
    left: -9px;
    &:hover > icon {
        color: $brand-success;
    }
}
.output-terminal {
    @extend .base-terminal;
    right: -9px;
    &:hover > icon {
        color: $brand-success;
    }
}
.input-terminal-active.can-accept > icon {
    color: $brand-success;
}

.delete-terminal {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;
    @extend .fa;
    @extend .fa-minus-circle;
    @extend .p-1;
    @extend .mt-1;
    position: absolute;
    z-index: 2500;
    top: 0px;
    left: -15px;
    cursor: pointer;
}


// task list
.folder-elem {
    @extend .unselectable;
    cursor: pointer;
}
.folder-elem-selected {
    @extend .folder-elem;
    background-color: #dfeefd;
}

.file-elem{
    @extend .unselectable;
    cursor: grab;
}
.file-elem-selected{
    @extend .file-elem;
    background-color: #dfeefd;
}

.ws-item {
    position: relative;
    margin-bottom: 20px;
}
.ws-item .ws-checkbox {
    margin: 0;
    position: absolute;
    left: -24px;
    top: 4px;
    font-size: 16px;
}
.ws-item > .focused {
    background-color: #e2f0f5;
    box-shadow: 0 0 5px 5px #e2f0f5;
  }
.editable .ws-item {
    margin-left: 24px;
}

#newworksheetmodal {
    top: 50%;
    left: 50%; 
    position: fixed;
    width: 500px;
    height: 220px;
    margin-left: -250px;
    margin-top:-110px
  }

.ui.segments.newsegment {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
    margin-top: 0;
}

#editormodal {
    left: 50%; 
    top: 50%;
    width: 550px;
    height: 670px;
    margin-left: -275px;
    margin-top: -335px;
    position: fixed;
  }

.ui.segment.worksheetdropdown {
    padding-bottom: 5px;
    padding-top: 0px
}

.ui.bottom.attached.segment.canvas-segment{
    padding: 0px;
    border: none;
    height: 100%;
}

.ui.breadcrumb.panel{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent
}

.ui.attached.segment.toolpanel{
    padding-top: 4px;
}

.panelsticky{
    background-color: white;
    padding-bottom: 14px;
}

.editorToolname{
    display: inline
}

.editorToolinput{
    padding: 0
}

.emptyWorksheet{
    text-align: center;
    color: #a4a4a4;
}

.worksheetbuttons{
    margin-bottom: 0px; 
    padding-bottom: 9px; 
    border-radius: 0px; 
    padding-top: 5px;
    border-bottom: 1px solid #d4d4d5;
    padding-left: 10px;
}

.toolbuttons{
    margin-bottom: 0px; 
    padding-bottom: 9px; 
    border-radius: 0px; 
    padding-top: 5px;
    border-bottom: 1px solid #d4d4d5;
    padding-right: 10px;
    padding-left: 14px;
}